VITE_READING_PASSWORD_STANDARD=sua_senha_padrao
VITE_READING_PASSWORD_SPECIAL=sua_senha_especial

VITE_THAMY_TITLE=Feiticeira Thamy invocada
VITE_THAMY_TRAITS=trait1,trait2,trait3
VITE_THAMY_SUMMARY_TITLE=Invocação da Feiticeira Thamy
VITE_THAMY_SUMMARY_INTRO=Texto introdutório do resumo da invocação.
VITE_THAMY_MYSTICAL_TEXT=Texto místico completo da carta especial.
VITE_THAMY_FORBIDDEN_NAME=nome_que_ela_nao_gosta
VITE_THAMY_SECRET_TEXT=Texto místico sobre o segredo do nome proibido.
